jupyterlab
notebook

pandas
pyreadr
pandas_datareader

yfinance
quantstats
pyportfolioopt

# Qlib
pyqlib

# vectorbt
# If you have VectorBT PRO Subscription
# vectorbtpro[base] @ git+ssh://git@github.com/polakowo/vectorbt.pro.git